<script lang="ts">
  import Counter from "./lib/components/Counter.svelte";
  import EventButton from "./lib/components/EventButton.svelte";
  import Header from "./lib/components/Header.svelte";
  import Input from "./lib/components/Input.svelte";
  import Numbers from "./lib/components/Numbers.svelte";
  import Pointer from "./lib/components/Pointer.svelte";
  import Properties from "./lib/components/Properties.svelte";
  import Users from "./lib/components/Users.svelte";
</script>

<main>
  <Header />

  <section>
    <p>Simple reactivity:</p>
    <Counter />
  </section>

  <section>
    <p>Updating Array:</p>
    <Numbers />
  </section>

  <section>
    <p>Properties:</p>
    <Properties />
    <Properties answer="Passed to the component" />
  </section>

  <section>
    <p>Mouse Event:</p>
    <Pointer />
  </section>

  <section>
    <p>Dispatch Event:</p>
    <EventButton on:message={(event) => alert(event.detail.text)} />
  </section>

  <section>
    <p>Binding:</p>
    <Input />
  </section>

  <section>
    <p>Store:</p>
    <Users />
  </section>
</main>

<style>
  section {
    padding: 10px;
    border: 1px solid;
    margin: 10px;
  }
</style>
