<header>
	<h1>Welcome to SvelteKit</h1>
	<nav>
		<a href="/">home</a>
		<a href="/about">about</a>
		<a href="/users">users</a>
	</nav>
</header>
<main>
	<slot />
</main>

<style>
	header {
		background-color: darkorchid;
		color: #fff;
		display: flex;
		justify-content: space-between;
		padding: 10px;
	}

	a {
		color: #fff;
	}
</style>
