<script lang="ts">
	export let data;
</script>

<h2>{data.user.name}</h2>

<ul>
	<li>username: {data.user.username}</li>
	<li>email: {data.user.email}</li>
</ul>

<aside>
	<h2>Other users</h2>
	<ul>
		{#each data.users as user}
			<li><a href="/users/{user.id}">{user.name}</a></li>
		{/each}
	</ul>
</aside>
