<script>
	import '../styles.css';
	import logo from '$lib/images/logo.svg';
	import tmdb from '$lib/images/tmdb.svg';
</script>

<header>
	<nav>
		<a href="/"> <img src={logo} alt="SvelteFlix" /></a>

		<div class="links">
			<a href="/search">Search</a>
			<a href="/watchlist">Watchlist</a>
			<a href="/login">Log in</a>
		</div>
	</nav>
</header>

<main>
	<slot />
</main>

<footer>
	<p>Data provided by</p>
	<a href="https://www.themoviedb.org/"><img src={tmdb} alt="themoviedb" /></a>
</footer>

<style>
	nav {
		display: flex;
		width: 100%;
		height: 3rem;
		align-items: center;
		justify-content: space-between;
		max-width: var(--column);
		padding: 0 var(--side);
		color: var(--accent);
	}

	a {
		color: inherit;
		flex-direction: column;
		text-decoration: none;
	}

	img {
		height: 1rem;
	}

	.links {
		display: flex;
		gap: 1rem;
	}

	footer {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
		height: 5rem;
	}
</style>
