<script lang="ts">
  // reactive variable
  let count = 0;
  // reactive statements
  $: doubled = count * 2;
  $: if (count >= 10) {
    alert("count ist dangerously high!");
    count = 0;
  }

  function increment() {
    count++;
  }
</script>

<button on:click={increment}>
  Clicked {count}
  {count == 1 ? "time" : "times"}
</button>

<span>Doubled: {doubled}</span>
{#if count > 5}
  <span style="margin-left:25px">count is grater than 5</span>
{:else}
  <span style="margin-left:25px">count is lower than 5</span>
{/if}
