<script lang="ts">
  import { createEventDispatcher } from "svelte";

  const dispatcher = createEventDispatcher();

  function onClickButton() {
    dispatcher("message", {
      text: " Hello!",
    });
  }
</script>

<button on:click={onClickButton}> Click me to fire event </button>
