<script lang="ts">
  const title = "<strong>Svelte</strong> Basics";
</script>

<header>
  <h1>{@html title}</h1>
</header>

<style>
  header {
    background: turquoise;
    color: #000;
    padding: 20px;
  }

  h1 {
    margin: 0;
  }
</style>
