<script lang="ts">
  let numbers = [1, 2, 3, 4];

  function addNumber() {
    numbers.push(numbers.length + 1);
    // assignment so compiler recognises the change
    numbers = numbers;
  }

  $: sum = numbers.reduce((prev, cur) => prev + cur, 0);
</script>

<p>{numbers.join(" + ")} = {sum}</p>
<button on:click={addNumber}>Add a number</button>
