<script lang="ts">
  let coordinates = { x: 0, y: 0 };

  function handleMove(event: MouseEvent) {
    coordinates.x = event.clientX;
    coordinates.y = event.clientY;
  }
</script>

<div class="pointer" on:pointermove={handleMove}>
  The pointer is at {Math.round(coordinates.x)}, {Math.round(coordinates.y)}
</div>

<style>
  .pointer {
    background-color: #333;
    padding: 20px;
  }
</style>
