<script lang="ts">
  import { createUsersStore } from "../stores/userStore";

  const [data, loading, error, getUsers] = createUsersStore();

  async function onClickFetchUsers(event: MouseEvent) {
    getUsers;
  }
</script>

<p>
  These are users from <a href="https://jsonplaceholder.typicode.com"
    >jsonplaceholder</a
  >
</p>

<button on:click={onClickFetchUsers}> Fetch again </button>

{#if loading}
  <span>Loading data</span>
{:else if error}
  <span>Error: {error}</span>
{:else}
  <pre>{JSON.stringify(data, null, 2)}</pre>
{/if}
